body{
  display: flex;
  justify-content: center;
}
.cuadroprincipal{
  flex-direction: column;
  display: flex;
  width:20%;
  align-items: center;
  padding:1em;
}

input{
  margin-bottom:8%;
  padding:4%;
  width: 50%;
}


@media screen and (max-width: 1000px) {
    .cuadroprincipal {
        width: 40%;
    }
}
