body{
  display: flex;
  justify-content: center;
  /*background-color: #ededed;*/
  background-image: url("./mainresoruces/images-icon-logotypes-miniaturas/wallpaper.jpg");
  background-size:cover;
  background-position: center;

}

input{
  margin-bottom:8%;
  padding:4%;
  width: 100%;
}

/*CSS Estructura de Login */
.cuadroprincipal{
  flex-direction: column;
  display: flex;
  width:15%;
  align-items: center;
  padding:5%;
}


@media screen and (max-width: 1000px) {
    .cuadroprincipal {
        width: 80%;
    }
}
